@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
body{
    background:black;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
  
    /* background: #001A31; */
    font-style:Raleway ;
}
a{
    text-decoration: none;
    color: #ffff;
}
ul{
    list-style: none;
    margin: 0;
    padding:0;
}
.p-5{
    padding: 5px 5px 0 5px;
}
.container{
    max-width: 1280px;
    margin: auto;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content_between{
    justify-content: space-between;
}

.movies-section{
    margin-bottom: 20px;
}
/* Movies section */
.movie-item-title{
    color: #fff;
}
.main-carousel:after {
    content: 'flickity';
    display: none; /* hide :after */
  }
.carousel-cell{
    width: 18%; 
    height: 400px;
    margin-right: 10px;
    /* padding: 10px; */
    border-radius: 5px;
    /* border: 1px solid gray; */
}
.carousel-cell:before{
    display: flex;
    justify-content: center;
    text-align: center;
}
.carousel-cell .image{
    width: 100%;
    height: 70%;
    position: relative;
}
.carousel-cell img{
    width: 100%;
    height: 100%;
    /* border-radius: 5px; */
}
.carousel-cell .image .info{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #05A280;
    /* #1A1A1A */
    
}
.carousel-cell .image .info i{
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
    border: 3px solid #05A280;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    opacity: 0;
}

.carousel-cell .image:hover img{
    filter:brightness(50%);
    transition: all 0.3s ease;
}
.carousel-cell .image:hover .info i{
    z-index: 100;
    opacity: 1;
    transition: all 0.3s ease;
}

.carousel-cell .details{
    display: block;
    width: 100%;
    height: 30%;
    color: #fff;
    background: #1A1A1A;
}
.carousel-cell .details .rating{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}
.carousel-cell .details .rating span img{
    width: 17px;
    height: 17px;
}

.carousel-cell .details .name{
    width: 100%;
    font-size: 16px;
    position: absolute;
}
.carousel-cell .details .name p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    position: relative;
}
.carousel-cell .details .name .ott_logo{
    right: 10px;
    top: 49px;
    position: absolute;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.carousel-cell .details .name .ott_logo img{
   width: 55px;
   height: 20px;
}

.carousel-cell .carousel_item .viw-project i{
    color: rgb(255, 238, 0);
}
.carousel-cell .carousel_item .viw-project {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #05A280;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
}
.carousel-cell:hover{
    cursor: pointer;
}

.movies-section .section-title{
    padding: 15px 15px;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 12px;
    /* text-align: center; */
    color: #fff;
}
.movies-section .movie-items{
    display: flex;
    flex-wrap: wrap;
}
.movies-section .movie-item{
    max-width: 33.33%;
    display: flex;
    flex-wrap: wrap;
}
.movies-section .movie-item-inner{
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}
.movies-section .movie-item-inner p{
    font-size: 16px;
    margin:10px 0 0;
    color: #ffff;
    text-transform: capitalize;
} 
.movies-section .movie-item-img img{
    border-radius: 5px;
    transition: all 0.3s ease;
}
.movies-section .movie-item-inner:hover .movie-item-img img{
    transform: translateY(-25px);
}
.movies-section .movie-item-img{
    position: relative;
}
.movies-section .movie-item-inner:hover .viw-project{
    transform: translateY(0px);
    z-index: 100;
    opacity: 1;
}
.movies-section .movie-item-img .viw-project{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: #05A280;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}
.movies-section .movie-item-img .viw-project:hover{
    cursor: pointer;
}
